# convert pleco dump to spreadsheet

In [100]:
#import xml file
import xml.etree.ElementTree as ET
import csv
tree = ET.parse('./Report.xml')
root = tree.getroot()
card_data = []
for card in root.findall(".//card"):
    card_datum = {}
    card_datum["created_stamp"] = card.get("created")
    card_datum["modified_stamp"] = card.get("modified")
    
    entry = card.find("./entry")
    card_datum["traditional"] = entry.find("./headword[@charset='tc']").text

    if entry.find("./cantopron") is None:
        continue
    card_datum["jyutping"] = entry.find("./cantopron").text
    
    if card.find("scoreinfo") is None:
        continue
    card_datum["correct"] = int(card.find("scoreinfo").get("correct"))
    card_datum["incorrect"] = int(card.find("scoreinfo").get("incorrect"))
    card_datum["difficulty"] = int(card.find("scoreinfo").get("difficulty"))
    card_datum["priority"] = card.find("scoreinfo").get("priority")
    card_datum["last_reviewed_stamp"] = int(card.find("scoreinfo").get("lastreviewedtime"))
    card_data.append(card_datum)
    
    

    
    
#convert xml to csv
import pandas as pd
cards_frame = pd.DataFrame(card_data)
for stamp in ["last_reviewed_stamp","created_stamp","modified_stamp"]:
    cards_frame[stamp] = pd.to_datetime(cards_frame[stamp],unit='s').dt.round('1d')
    
cards_frame.sort_values("created_stamp", ascending=False,inplace=True)
cards_frame.to_csv('./Report.csv', index = False)

# View 30 Most Recently Added Vocabs

In [101]:
#30 most recently added
cards_frame.sort_values("created_stamp", ascending=False).head(30)

,created_stamp,modified_stamp,traditional,jyutping,correct,incorrect,difficulty,priority,last_reviewed_stamp
808,2021-07-14,2021-08-02,悲,bei1,0,1,90,None,2021-08-02
806,2021-07-14,2021-08-02,氹返,tam5 faan2,0,1,90,None,2021-08-02
807,2021-07-14,2021-08-02,悲劇,bei1 kek6,0,1,90,None,2021-08-02
805,2021-06-30,2021-08-02,蠢,ceon2,3,2,90,veryhigh,2021-07-30
803,2021-06-30,2021-08-02,打過嚟,daa2 gwo3 lai4,0,1,90,None,2021-08-02
804,2021-06-30,2021-08-02,經過,ging1 gwo3,0,1,90,None,2021-08-02
802,2021-06-11,2021-08-02,大話,daai6 waa6,0,1,90,None,2021-08-02
794,2021-06-09,2021-08-02,做人,zou6 jan4,0,1,90,None,2021-08-02
801,2021-06-09,2021-08-02,好人,hou2 jan4,1,0,100,None,2021-08-02
800,2021-06-09,2021-08-02,壞人,waai6 jan4,0,3,90,None,2021-08-02
799,2021-06-09,2021-08-02,冰球,bing1 kau4,0,3,90,None,2021-08-02
795,2021-06-09,2021-08-02,落去,lok6 heoi3,0,1,90,None,2021-08-02
798,2021-06-09,2021-08-02,瑞士,seoi6 si6,0,3,90,None,2021-08-02
793,2021-06-09,2021-08-02,絕,zyut6,0,1,90,None,2021-08-02
792,2021-06-09,2021-08-02,請,cing2,1,2,90,None,2021-08-02
791,2021-06-09,2021-08-02,大膽,daai6 daam2,1,2,80,None,2021-08-02
790,2021-06-09,2021-08-02,種樹,zung3 syu6,0,3,90,None,2021-08-02
796,2021-06-09,2021-08-02,難食,naan4 sik6,0,3,90,None,2021-08-02
797,2021-06-09,2021-08-02,網球,mong5 kau4,0,3,90,None,2021-08-02
789,2021-05-28,2021-08-02,火腿腸,fo2 teoi2 coeng2,1,3,90,low,2021-08-02
788,2021-05-28,2021-08-02,雞髀,gai1 bei2,1,3,90,None,2021-08-02
787,2021-05-28,2021-07-24,骨頭,gwat1 tau4,1,1,90,None,2021-06-09
786,2021-05-28,2021-07-24,狼,long4,1,1,90,None,2021-06-09
785,2021-05-28,2021-07-24,老虎機,lou5 fu2 gei1,1,1,90,None,2021-06-09
784,2021-05-28,2021-07-24,奶昔,naai5 sik1,1,1,90,None,2021-06-09
783,2021-05-28,2021-07-24,快餐,faai3 caan1,1,1,90,None,2021-06-09
782,2021-05-28,2021-07-24,眼瞓,ngaan5 fan3,1,1,90,None,2021-06-09
779,2021-05-23,2021-07-24,磨豆腐,mo4 dau6 fu6,1,0,100,None,2021-05-28
781,2021-05-23,2021-07-24,冥想,ming5 soeng2,1,1,90,None,2021-06-09
778,2021-05-23,2021-07-24,手袋,sau2 doi6,0,1,90,None,2021-06-09

# View 30 Most Recently Reviewed Vocabs

In [102]:
#30 most recently reviewed
cards_frame.sort_values("last_reviewed_stamp", ascending=False).head(30)

,created_stamp,modified_stamp,traditional,jyutping,correct,incorrect,difficulty,priority,last_reviewed_stamp
808,2021-07-14,2021-08-02,悲,bei1,0,1,90,None,2021-08-02
798,2021-06-09,2021-08-02,瑞士,seoi6 si6,0,3,90,None,2021-08-02
507,2020-10-28,2021-08-02,埋單,maai4 daan1,0,1,90,None,2021-08-02
501,2020-10-28,2021-08-02,收據,sau1 geoi3,0,1,90,None,2021-08-02
502,2020-10-28,2021-08-02,唔記得,m4 gei3 dak1,0,1,90,None,2021-08-02
494,2020-10-28,2021-08-02,小姐,siu2 ze2,1,0,100,None,2021-08-02
496,2020-10-28,2021-08-02,間房,gaan3 fong2,0,1,90,None,2021-08-02
498,2020-10-28,2021-08-02,水龍頭,seoi2 lung4 tau4,0,1,90,None,2021-08-02
500,2020-10-28,2021-08-02,幫,bong1,1,0,100,high,2021-08-02
530,2020-11-18,2021-07-31,雙十一,gwong1 gwan3 zit3,0,1,90,None,2021-08-02
807,2021-07-14,2021-08-02,悲劇,bei1 kek6,0,1,90,None,2021-08-02
788,2021-05-28,2021-08-02,雞髀,gai1 bei2,1,3,90,None,2021-08-02
801,2021-06-09,2021-08-02,好人,hou2 jan4,1,0,100,None,2021-08-02
800,2021-06-09,2021-08-02,壞人,waai6 jan4,0,3,90,None,2021-08-02
799,2021-06-09,2021-08-02,冰球,bing1 kau4,0,3,90,None,2021-08-02
789,2021-05-28,2021-08-02,火腿腸,fo2 teoi2 coeng2,1,3,90,low,2021-08-02
797,2021-06-09,2021-08-02,網球,mong5 kau4,0,3,90,None,2021-08-02
795,2021-06-09,2021-08-02,落去,lok6 heoi3,0,1,90,None,2021-08-02
806,2021-07-14,2021-08-02,氹返,tam5 faan2,0,1,90,None,2021-08-02
804,2021-06-30,2021-08-02,經過,ging1 gwo3,0,1,90,None,2021-08-02
803,2021-06-30,2021-08-02,打過嚟,daa2 gwo3 lai4,0,1,90,None,2021-08-02
802,2021-06-11,2021-08-02,大話,daai6 waa6,0,1,90,None,2021-08-02
796,2021-06-09,2021-08-02,難食,naan4 sik6,0,3,90,None,2021-08-02
790,2021-06-09,2021-08-02,種樹,zung3 syu6,0,3,90,None,2021-08-02
791,2021-06-09,2021-08-02,大膽,daai6 daam2,1,2,80,None,2021-08-02
792,2021-06-09,2021-08-02,請,cing2,1,2,90,None,2021-08-02
793,2021-06-09,2021-08-02,絕,zyut6,0,1,90,None,2021-08-02
794,2021-06-09,2021-08-02,做人,zou6 jan4,0,1,90,None,2021-08-02
509,2020-10-28,2021-08-02,號碼,hou6 maa5,0,1,90,None,2021-08-02
1,2020-01-09,2021-07-24,六,luk6,38,18,50,veryhigh,2021-07-31

# View 30 Random Vocabs

In [103]:
#30 random words
cards_frame.sample(frac=1).head(30)

,created_stamp,modified_stamp,traditional,jyutping,correct,incorrect,difficulty,priority,last_reviewed_stamp
631,2021-01-27,2021-07-24,生活,sang1 wut6,0,1,90,None,2021-02-10
442,2020-08-01,2021-07-24,凳,dang3,1,10,80,None,2021-06-03
290,2020-05-23,2021-07-24,恭喜,gung1 hei2,7,13,54,None,2021-03-26
146,2020-04-09,2021-07-24,我嘅,ngo5 ge3,19,9,94,high,2021-06-03
430,2020-07-30,2021-07-24,展示,zin2 si6,1,10,80,None,2021-03-27
223,2020-04-23,2021-07-24,落雪,lok6 syut3,4,17,70,None,2021-03-17
354,2020-06-09,2021-07-24,教堂,gaau3 tong2,9,8,50,None,2021-04-14
783,2021-05-28,2021-07-24,快餐,faai3 caan1,1,1,90,None,2021-06-09
432,2020-07-30,2021-07-24,積分,zik1 fan1,4,8,58,low,2021-04-10
784,2021-05-28,2021-07-24,奶昔,naai5 sik1,1,1,90,None,2021-06-09
10,2020-01-12,2021-07-24,可能,ho2 nang4,8,4,82,veryhigh,2021-07-25
590,2021-01-07,2021-07-24,低級,dai1 kap1,1,1,90,None,2021-04-12
18,2020-01-30,2021-07-24,癡線,ci1 sin3,5,14,70,None,2021-05-23
127,2020-04-05,2021-07-24,披薩,pei1 saat3,6,25,54,None,2021-02-08
530,2020-11-18,2021-07-31,雙十一,gwong1 gwan3 zit3,0,1,90,None,2021-08-02
454,2020-08-23,2021-07-24,游水池,jau4 seoi2 ci4,3,1,90,None,2020-12-03
448,2020-08-04,2021-07-24,禮拜一,lai5 baai3 jat1,4,7,50,None,2021-03-21
51,2020-03-21,2021-07-31,明白,ming4 baak6,1,0,100,None,2021-07-31
176,2020-04-16,2021-07-24,好玩,hou2 waan4,11,11,64,None,2021-04-10
651,2021-02-10,2021-07-24,畀錢,bei2 cin2,4,0,100,None,2021-03-17
220,2020-04-23,2021-07-24,涼爽,loeng4 song2,6,19,50,None,2021-03-17
276,2020-05-16,2021-07-24,粉紅色,fan2 hung4 sik1,5,10,74,None,2021-03-17
674,2021-02-12,2021-07-24,國際,gwok3 zai3,2,0,100,None,2021-03-17
699,2021-03-17,2021-07-24,熱鬧,jit6 naau6,2,2,90,None,2021-03-27
766,2021-05-04,2021-07-24,買餸,maai5 sung3,1,0,100,None,2021-05-28
30,2020-03-05,2021-07-24,三,saam1,16,1,114,None,2021-06-11
551,2020-12-10,2021-07-24,好耐冇見,hou2 noi6 mou5 gin3,5,11,50,high,2021-07-29
121,2020-04-05,2021-07-24,茶,caa4,11,3,112,None,2020-09-30
170,2020-04-16,2021-07-24,紅蘿蔔,hung4 lo4 baak6,4,22,70,None,2021-03-17
435,2020-07-30,2021-07-24,顯示,hin2 si6,4,5,60,None,2021-02-08

# Cell Reserved for Searching

In [118]:
cards_frame[cards_frame.jyutping.str.contains('pin')]

,created_stamp,modified_stamp,traditional,jyutping,correct,incorrect,difficulty,priority,last_reviewed_stamp
468,2020-08-28,2021-07-24,草坪,cou2 ping4,2,5,80,None,2021-04-14
296,2020-05-23,2021-07-24,平板電腦,ping4 baan2 din6 nou5,6,15,64,None,2021-04-14
59,2020-03-25,2021-07-24,蘋果,ping4 gwo2,12,17,50,None,2021-03-24

In [117]:
import datetime
today = datetime.date.today()
dates = {today + datetime.timedelta(days=i):0 for i in range(0 - today.weekday(), 7 - today.weekday())}
#date2count ={}
for card_stamp in cards_frame["last_reviewed_stamp"]:
    if card_stamp in dates:

        dates[card_stamp] += 1
print(dates)

{datetime.date(2021, 7, 26): 0, datetime.date(2021, 7, 27): 0, datetime.date(2021, 7, 28): 0, datetime.date(2021, 7, 29): 0, datetime.date(2021, 7, 30): 0, datetime.date(2021, 7, 31): 0, datetime.date(2021, 8, 1): 0}

## <span style="color:blue">*** DIY exercise ***</span>
Try out using only your keyboard and shortcuts for these two tasks:
- Create a new *markdown* cell below this one, write a few lines and format them to look like a header and bullets.
- Create a new *code* cell above the first one one, import your favorite Python function, check out the docstring, and execute the code (e.g. `os.getcwd()`, `random.random()`, etc.)

# Part 1: Loading and inspecting the data (20 mins)

Before we can start answering questions about the data we need to do a little bit of exploratory analysis.The first thing we need to do when working with a new dataset is to get an idea of what the data looks like. We start by loading the data into memory. Pandas comes with a built-in `read_csv` function that we can use to read CSV files and load them directly to a pandas `DataFrame` object.

In [105]:
# We need to import the libraries to start with
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# This command makes charts show inline in a notebook
%matplotlib inline

# Making the figures show up a little larger than default size
plt.rcParams['figure.figsize'] = [10,6]

## What is a dataframe?
* A **dataframe** is a **2-dimensional labeled data structure** with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used Pandas object. 
* Pandas borrows the concept of DataFrame from the statistical programming language R.
* There are a lot of **different ways to read data** into a dataframe - from lists, dicts, CSVs, databases... In this example, we're loading data from a CSV file!

**Let's take a look at the data to familiarize ourselves with the format and data types. In this example, I'm using some treatment data from the oncology domain, including treatment starts and the drugs patients are getting.**

In [106]:
# Read data from a CSV into a dataframe
# This is the data we're going to be working with!
tx = pd.read_csv('./mock_treatment_starts_2016.csv')

FileNotFoundError: [Errno 2] File b'./mock_treatment_starts_2016.csv' does not exist: b'./mock_treatment_starts_2016.csv'

In [ ]:
# Just typing the name of the dataframe will print the entire output
# If there are too many rows, Jupyter will print the top few and 
# bottom few rows with a "..." to indicate that there are more rows
tx

## Inspecting a dataframe using built-in functions
* Most operations on a dataframe happen by applying a function to it using the "." notation, e.g. `my_dataframe.do_something()`
* Let's look at some simple functions that we can apply to Pandas dataframes

In [ ]:
# The info() function prints some basic information about the dataframe
# such as the number of columns and rows
# Let's talk about the # column later!
tx.info()

In [ ]:
# The head(n) function shows the first n rows in a dataframe.
# If no n is specified, it defaults to 5 rows.
tx.head()

In [ ]:
# You can also use the sample() function to get n random rows in 
# the dataframe
tx.sample(5)

In [ ]:
# The describe function shows some basic statistics for numeric columns
# We only have one here (Dosage), so this isn't very interesting
tx.describe()

## Other ways to inspect a dataframe
* There are other operations you can do on a dataframe that don't follow the function notation
* Let's look at a few examples

In [ ]:
# Then len function gives us the number of rows in the dataframe
len(tx)

In [ ]:
# The shape property gives you the number of rows and columns
tx.shape

In [ ]:
# The dtypes property of a dataframe shows the datatypes of 
# every column in a dataframe.
tx.dtypes

In [ ]:
# The columns attribute of a dataframe contains the column names
# We'll talk about the "Index" later!
tx.columns

## <span style="color:blue">*** DIY exercise ***</span>
Create a new cell below and print the first ten rows of the "tx" dataframe.

## Accessing columns in a dataframe

<span style="color:blue">**Note: We will be applying `head()` to some results in this tutorial to keep the output short. When working with a real dataset, keep in mind that you might be hiding some relevant records if you always use `head()` or `sample()`!**</span>

**Let's assume you just want to print a specific column or row from your dataframe.** 

In Pandas, you can access a specific column using the following notation which returns a **Series** (not a dataframe).

A series is simply a **vector**, aka a 1-dimensional data structure similar to a list.

In [ ]:
# Return the PatientID column as a Series
tx['PatientID'].head()

In [ ]:
# Check the type to show that this indeed returns a Series object
type(tx['PatientID'])

In [ ]:
# The alternative notation for accessing a column in a dataframe
# Some people prefer the . notation, others the [] notation.
# Personally, I prefer using [] for visibility and consistency
tx.PatientID.head()

In [ ]:
# And this is how you access two columns of a dataframe.
# Note that this will return a dataframe again, not a series 
# (because a series has only one column...)
# Also note the double square brackets 
# because you're passing a *list* of columns as an argument
tx[['PatientID', 'Dosage']].head()

In [ ]:
# Check the type to confirm that this returns a DataFrame type
type(tx[['PatientID', 'TreatmentStart']])

In [ ]:
# This way we can now do some more data exploration, 
# e.g. looking at unique patient IDs using the unique function
# which returns an array of values
tx['PatientID'].unique()

## <span style="color:blue">*** DIY exercise ***</span>
Create a new cell below and print the list of unique drugs in the dataframe.

## Accessing rows in a dataframe
In addition to slicing by column, we often want to get the record where a column has a specific value, e.g. a specific Patient_ID here. This can be done using the `.loc` function syntax and a boolean statement:

In [ ]:
# Access the record(s) where the value in the PatientID column is PT20
tx.loc[tx['PatientID'] == 'PT20']

In [ ]:
# This is equivalent to the following shorter notation
# I prefer to always use loc to be more explicit
tx[tx['PatientID'] == 'PT20']

In [ ]:
# You can also use boolean conditions in the selector
tx.loc[(tx['PatientID'] == 'PT20') & (tx['Drug'] == 'Cisplatin')]

## <span style="color:blue">*** DIY exercise ***</span>
Create a new cell below and show all rows where the drug dosage for Cisplatin is less than 180.

## Sorting dataframes
Sorting the output of a dataframe can be helpful for visually inspecting or presenting data! Sorting by one or multiple columns is super easy using the `sort_values` function:

In [ ]:
# Sort by earliest treatment start date, i.e. in ascending order (default)
tx.sort_values('TreatmentStart').head()

In [ ]:
# Sort by latest treatment start, i.e. in descending order
tx.sort_values('TreatmentStart', ascending=False).head()

In [ ]:
# Finally, you can also sort by a list of columns. If you want to 
# change the ascending/descending orders, pass a **list** of 
# booleans to the `ascending` parameter!
tx.sort_values(['PatientID', 'TreatmentStart']).head()

## The `inplace` parameter

**Note: Any operations on a dataframe are *not* permanent, i.e. they only modify the current output, but not the actual dataframe. If you want to preserve the sorting, for example, you have to either assign the output to a new variable, or use the `inplace=True` argument. This will not create any output but actually modify the dataframe.**

In [ ]:
# Show the dataframe
tx.head()

In [ ]:
# Use the inplace keyword to modify the dataframe
# Note that you can also sort by a list of columns
tx.sort_values(['PatientID', 'TreatmentStart'], inplace=True)

In [ ]:
# Check out the permanently sorted dataframe
tx.head()

## <span style="color:blue">*** DIY exercise ***</span>
Create a new cell below and sort the dataframe by drug (ascending, i.e. alphabetically) and then dosage (descending order, i.e. highest dosage first).

# Part 2: Data cleaning (15 mins)

In [ ]:
# Remember the dtypes property?
# The TreatmentStart column should really be a date, right?
tx.dtypes

## Date conversion

Right away we can see that the date field TreatmentDate is stored as string (object). It might be useful to convert it to **Datetime** objects so that we can perform common date arithmetic on them, like checking if a date came before or after another date, or calculating the number of days between two dates.

In [ ]:
# This assigns the datetime version of the TreatmentStart column 
# to a column with the same name
tx['TreatmentStart'] = pd.to_datetime(tx['TreatmentStart'])

In [ ]:
# Check the types now - we have a datetime64 type!
tx.dtypes

In [ ]:
# This is the alternative notation to access a column in a dataframe
tx.TreatmentStart = pd.to_datetime(tx.TreatmentStart)

## Sidebar: Copying dataframes and dropping columns
Sometimes you might want to copy a dataframe, e.g. to do further transformations on it but keep the original.

**Note** that if you assign a dataframe to a new variable, it will reference the same underlying object as the original dataframe. This means that any modification you make to the new dataframe will also be applied to the old one. Use the `copy()` function to make a new copy of the dataframe by value.

In [ ]:
txcopy = tx

# Create a new dummy column in the "copy" of our dataframe
txcopy['NewColumn'] = 1

In [ ]:
# txcopy now has the new column...
txcopy.head()

In [ ]:
# ... but so does our original dataframe. This is not really what we want!
tx.head()

In [ ]:
# Drop the dummy column from the original dataframe
# axis=1 means we're dropping columns, and we need to 
# use inplace=True to make it permanent!
if 'NewColumn' in tx.columns:
    tx.drop('NewColumn', axis=1, inplace=True)

# Then make a *real* copy of the "clean" tx dataframe
txcopy = tx.copy()

# Add the dummy column to tx2 and confirm that the 
# original tx doesn't have it
txcopy['NewColumn'] = 1
tx.head()

In [ ]:
# ... and confirm that the second dataframe does have the column:
tx2.head()

## <span style="color:blue">*** DIY exercise ***</span>
Create a copy of the tx dataframe called `mytx` and add a new column called  `TreatmentStartDT` that contains the treatment starts as datetime types.

Then print the head() of `mytx.dtypes` to show the datatypes.

# Part 3: Data analysis (30 minutes)
Let's assume we've loaded the treatment related data from a cancer clinic in order to provide them with some analytical insights around the types of drugs they use on their patient population.

## Question 1: Patients treated at the practice

**How many unique patients does the practice treat?**

In [ ]:
# Our data frame contains patient IDs and treatment starts -
# let's check if some patients have multiple treatment starts?
# The unique() function returns the number of unique values 
# in a dataframe column.
print('Number of treatment start records:', len(tx))
print('Number of unique patients who start treatment:', 
      len(tx.PatientID.unique()))

So there are 20 unique patients but we have 24 treatment start records, meaning some patients start multiple treatments in the time that we have data for. This means that if we want to answer the question correctly, we need to make sure to only count unique patients. Let's learn some counting techniques first before coming back to the duplicate issue!

## Question 2: Drugs used at the practice
**What are the drugs used at the practice and how many patients receive those drugs?**

In [ ]:
tx.groupby('Drug')

In [ ]:
# The groupby function works like a groupby in SQL, i.e. it 
# groups the dataframe by the specified column and then lets you 
# apply aggregate functions on the grouped values, 
# e.g. counts, sums, means...
# The count function counts the number of rows with *non-null values* 
# in a column
tx.groupby('Drug').count()

In [ ]:
# Since we are only interested in the number of patients, 
# we can select only the relevant column from the resulting 
# dataframe in the output table

# Note that "PatientID" might not be the best name for this column
# - we can use a rename() function in Pandas to rename it to something 
# like "PatientCount" 
# I'm skipping renaming in this tutorial, but feel free to look it up!
tx.groupby('Drug').count()[['PatientID']]

In [ ]:
# We can also use nunique() which counts the number of *unique* non-null values for each column
# Notice how the numbers are different from the count() result in the TreatmentStart and Dosage columns
tx.groupby('Drug').nunique()

## <span style="color:blue">*** DIY exercise ***</span>
With the techniques you just learned in Question 2, think back to Question 1. Create a new cell below and count how many records each patient has in order to spot those patients that receive more than one treatment.

**Additional point to think about:** Depending on what question we want to answer, counting the number of records might not give us the correct answer. Can you think of different questions a clinic might ask to explain why patients have multiple records? What stands out when using nunique() instead of count()?

### A little bit about indexes in dataframes
Notice that in the above example, the "Drug" column is printed in bold. That's because grouping by it has turned it into the **index** of the resulting dataframe.

The index in a dataframe is the **"row identifier"** - it is generally printed as the column on the left. For example, when we first loaded our data, the index didn't have a name and was just an incrementing integer (scroll up to check!). When you create a groupby object, the index of a resulting dataframe will be the column you group by - in this case, the Drug column became the index.

We frequently **reset** the index in a dataframe for various reasons - in this case, because the index contains data that you want to treat as a column, e.g. for plotting.

In [ ]:
# This is the same groupby we did above. Notice how the "Drug" column is bold
# - it became the index after grouping by it
tx.groupby('Drug').count()[['PatientID']]

In [ ]:
# Reset the index in the grouped dataframe to see what happens:
tx.groupby('Drug').count()[['PatientID']].reset_index()

In [ ]:
# Remember that any operations on the dataframe only modify the output? 
# We didn't *really* group the dataframe or reset the index. 
# The tx dataframe is still the same it was at the beginning.
# We could use inplace=True to make the change permanent.
tx.head()

### Let's plot this! (aka our first Seaborn plot)

In [ ]:
# Let's do the same groupby as above to get the number of patient starts per drug.
# This time, we actually assign the output to a new dataframe `counts` to 
# make the change permanent.
counts = tx.groupby('Drug').count()[['PatientID']].reset_index()

# Let's use a simple bar chart in Seaborn to compare counts for the two drugs
# There are several different ways to do the plotting - this is my preferred style,
# but you might prefer different syntax
fig = sns.barplot(data=counts, x='Drug', y='PatientID')
plt.title('Number of patient starts by drug')
plt.ylabel('Number of patient starts')
plt.xlabel('Drug')
plt.show(fig)

## Question 3: Changes to treatment over time
**Do we see any changes in treatment patterns over time?**

Our data shows treatment starts by date. Let's group these starts by month to see if there are any changes of how many patients start on a given drug over time, e.g. because a new drug got approved.

*Note that the data we're using here is dummy data and pretty artificial - oncology clinics see a much higher volume of patients, and drug uptake is usually slower than shown here.*

In [ ]:
# Let's add a new column that only has the treatment *month* to simplify things
# There are many different ways to do this, we picked a simple one called "astype"
tx['TreatmentStartMonth'] = tx['TreatmentStart'].astype('datetime64[M]')

tx.head()

In [ ]:
# Let's count the number of starts per month per drug to plot it later
# We only want the number of patients, so we filter for that column at the end
drugs_by_month = tx.groupby(['TreatmentStartMonth', 'Drug']).count()[['PatientID']]
drugs_by_month

In [ ]:
# The data already looks interesting... let's plot this 
# Remember to reset_index so we can plot the regular columns
# The "hue" keyword is generally used to distinguish two different 
# categorical variables in plots, e.g. in this case the two different drugs
# NOTE: lineplot() only exists in Seaborn version 0.9 and up
fig = sns.lineplot(data=drugs_by_month.reset_index(), 
                   x='TreatmentStartMonth', 
                   y='PatientID',
                   hue='Drug')
plt.title('Number of patient starts by drug and by month')
plt.ylabel('Number of patient starts')
plt.xlabel('Drug')
plt.show(fig)

## <span style="color:blue">*** DIY exercise ***</span>
Plot `drugs_by_month` as a clustered barplot instead of lineplot. Make sure you're clear about what your x, y, and hue are in this case!

Note that the date labeling on the x axis doesn't look good because Seaborn converts the month back to a datetime. There are several ways to deal with this - can you think of one possible solution that works in this particular case?

## [Optional] Question 4: Dosage and outliers
**Question: What is the average dosage of each drug? Are there any outliers?**

In [ ]:
# An easy first step is to group by the respective drug and use describe()
tx.groupby(['Drug']).describe()

In [ ]:
# This is an example of a more complex way to get aggregates in Pandas
# The agg function takes a dictionary of column:function pairs,
# where "function" can be a built-in function like count, mean, min, etc, 
# or a custom function like a lambda.
tx.groupby(['Drug']).agg({'Dosage': 'mean'})

In [ ]:
# We can also pass a list of functions to a column to get multiple outputs!
tx.groupby(['Drug']).agg({'Dosage': ['count', 'mean', 'std', 'min', 'max']})

In [ ]:
# We can plot this easily in Seaborn - but the outlier squashes our display
fig = sns.boxplot(data=tx, x='Drug', y='Dosage')
plt.show(fig)

In [ ]:
# Use showfliers=False in a boxplot to suppress outliers
fig = sns.boxplot(data=tx, x='Drug', y='Dosage', showfliers=False)
plt.show(fig)

# Part 4: Summary!

We hope this workshop was useful for you. We've only touched on some of the **basic concepts** of Pandas, but we believe this will give you the foundations to keep exploring the data! We covered:

- Basic operations in Jupyter notebooks
- Dataframes and Series in Pandas, and loading data to a dataframe
- Basic data inspection (head, describe, dtypes, accessing columns and rows, sorting)
- Grouping and aggregating (count, nunique)
- Indexing in dataframes and reset_index
- Plotting (bar plots, line plots)

**What we didn't learn:**

This is my (biased) list of very frequent Pandas operations that we didn't cover but you'll likely need for data analysis:
- Joining/merging multiple dataframes
- Filtering and de-duplicating dataframes
- More complex modifications of column values, e.g. filling null values, using lambda functions
- More complex aggregates on grouped dataframes (sum, mean, etc)
- Renaming columns (e.g. renaming an aggregate "PatientID" column to something more meaningful like "PatientCount")

Let me know what you think! samanthapbail@gmail.com / [@spbail](http://twitter.com/spbail)